.hero-section-container{
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text p {
    color: #FFFFFF;
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */
 margin: 0px;
text-align: center;

}

.hero-section-container img{
    width: 212px;
    
}